

  .da-slide p {top:69px!important}

.admin_panel{background-color:#E8E8FF;padding:20px;}
.button-secondary.default_settings_button{margin-top: 58px;}
.font_size{font-size:12px!important;font-style: italic;color: #666;}
.margin_top{margin-top: -3.5em;}

